.RData
.RDataTmp
.Rhistory
.Rproj.user/
.git/
.gitattributes
.gitignore
UCI HAR Dataset/
dl.csv
ed.csv
getdata-data-PUMSDataDict06.pdf
getdata-projectfiles-UCI HAR Dataset.zip
q2.csv
run_analysis_cache/
